* {
    box-sizing: border-box;
}

@font-face {
    font-family: PP Mori;
    src: url('../../fonts/footer/PPMori-Regular.otf');
}

@font-face {
    font-family: PP Rader;
    src: url('../../fonts/footer/PPRader-Regular.otf');
}

body {
    font-family: "PP Mori", serif;
    background: #EEE;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    color: #0F0E0E;
    text-align: center;
    font-family: "PP Rader", sans-serif;
    font-size: 13.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: 11.875vw;
    text-transform: uppercase;
}

.h1-light {
    color: #FFF;
}

.nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0.31vw;
    background-color: #FFF;
    border: 1px solid #0F0E0E;
    border-radius: 0.3125vw;
    width: fit-content;
    margin-top: 1.69vw;
    z-index: 100;
}

.nav-item, .nav-menu {
    padding: 0.5625vw 0.625vw 0.4375vw 0.625vw;
    border-radius: 0.3125vw;
    color: #0F0E0E;
    text-align: center;
    font-family: "PP Mori", serif;
    font-size: 0.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 150;
    position: relative;
}

.nav-btn {
    border-radius: 0.3125vw;
    background-color: #0F0E0E;
    z-index: 120;
    position: fixed;
    left: 0;
    mix-blend-mode: difference;
    filter: invert(100);
    opacity: 0
}

.nav-item:hover {
    background: #dedede;
    color: #000;
}

.container {
    width: 100vw;
    height: 100vh;
}

.footer {
    background-color: #0F0E0E;
    z-index: 5;
    width: 100%;
    height: 60vh;
    margin-top: 50vh;
}

.footer-container {
    background-color: transparent;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-btn-container {
    bottom: 50%;
    left: 10%;
}

.footer-item {
    color: #FFF;
    font-family: "PP Mori", serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    border-radius: 0.3125vw;
    border: 1px solid #FFF;
    background: #0F0E0E;
    color: #FFF;
    text-align: center;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    padding: 0.5625vw 0.625vw 0.375vw 0.625vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;
    width: fit-content;
    cursor: pointer
}

.btn-light {
    background: #FFF;
    color: #0F0E0E;
    border: 1px solid #0F0E0E;
}

.cloud-1 {
    top: -400px;
    z-index: -99;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

.cloud-2 {
    top: -200px;
    z-index: -99;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

.cloud-3 {
    top: -50px;
    z-index: -99;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 1440px) {
    .nav {
        padding: 0.31rem;
        border-radius: 0.3125rem;
        margin-top: 1.69rem;

    }

    .nav-btn {
        border-radius: 0.3125rem;
    }

    .nav-item, .nav-menu {
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
        gap: 0.625vw;
        font-size: 1rem;
        border-radius: 0.3125rem;
    }

    h1 {
        font-size: 8.75rem;
        line-height: 8.875rem;
    }

    .btn {
        font-size: 1.5rem;
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
        border-radius: 0.3125rem;
    }

    .footer-item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .nav-item, .nav-menu {
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
        gap: 0.625vw;
        font-size: 1rem;
    }

    h1 {
        font-size: 8.75rem;
        line-height: 8.875rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
    }

    .footer-item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 874px) {
    .nav-item, .nav-menu {
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
        gap: 0.625vw;
        font-size: 1rem;
    }

    h1 {
        font-size: 7.75rem;
        line-height: 5.875rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
    }

    .footer-item {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: -5%
    }

}

@media screen and (max-width: 640px) {
    .nav {
        max-width: 90vw;
        left: 15%;
        height: 2.745rem
    }

    .nav-item, .nav-menu {
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
        font-size: 1rem;
    }

    h1 {
        font-size: 7rem;
        line-height: 5.875rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5625rem 0.625rem 0.4375rem 0.625rem;
    }

    .footer-item {
        top: -60%;
        left: 0
    }

    .nav-item-active {
        color: #FFF;
        background-color: #0F0E0E;
    }

    .hidden-mobile {
        display: none;
    }

    .footer {
        height: 100vh
    }
}
