* {
    box-sizing: border-box;
}

@font-face {
    font-family: PP Neue Montreal;
    src: url('../../fonts/index/PPNeueMontreal-Medium.otf');
}
body {
    font-family: "PP Neue Montreal", serif;
    background: #FFF;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    cursor: none;
}
.gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cards {
    position: absolute;
    width: 23.625vw;
    height: 33.6875vw;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 23.625vw;
    height: 33.6875vw;
    position: absolute;
    top: 0;
    left: 0;
}

.cards li div {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 23.625vw;
    height: 33.6875vw;
}

.card {
    transition: margin 0.5s ease
}

h1 {
    color: #000;
    font-size: 15.625vw;
    font-style: normal;
    font-weight: 500;
    line-height: 15.3125vw;
}

.nav {
    transform: translate(-50%, 0);
}

.index {
    color: rgba(0, 0, 0, 0.25);
    font-size: 8vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cursor {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 0.31vw;
    align-items: center;
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: opacity 0.1s ease-in-out;
    mix-blend-mode: difference;
    filter: invert(100)
}

.cursor svg {
    width: 1.0625vw;
    height: 1.0625vw;
}

.pointer:hover {
    cursor: pointer
}

@media screen and (max-width: 1440px) {
    .cards {
        width: 28.625vw;
        height: 33.6875vh;
    }
    .cards li {
        width: 28.625vw;
        height: 33.6875vh;
    }

    .cards li div {
        width: 28.625vw;
        height: 33.6875vh;
    }
    .cursor {
        gap: 0.31vw;
        font-size: 1.2vw;
    }
    .cursor svg {
        width: 1.2625vw;
        height: 1.2625vw;
    }
}

@media screen and (max-width: 1024px) {
    .cards {
        width: 32.625vw;
        height: 50.6875vh;
    }
    .cards li {
        width: 32.625vw;
        height: 50.6875vh;
    }

    .cards li div {
        width: 32.625vw;
        height: 50.6875vh;
    }
    h1 {
        font-size: 19.625vw;
    }
    .index {
        font-size: 10vw;
    }
    .cursor {
        gap: 0.31vw;
        font-size: 1.6vw;
    }
    .cursor svg {
        width: 1.6625vw;
        height: 1.6625vw;
    }
}

@media screen and (max-width: 874px) {
    .cards {
        width: 45.625vw;
        height: 50.6875vh;
    }
    .cards li {
        width: 45.625vw;
        height: 50.6875vh;
    }

    .cards li div {
        width: 45.625vw;
        height: 50.6875vh;
    }
    h1 {
        font-size: 23.625vw;
        line-height: 23vw;
    }
    .index {
        font-size: 10vw;
    }
    .cursor {
        gap: 0.31vw;
        font-size: 2.2vw;
    }
    .cursor svg {
        width: 2.2625vw;
        height: 2.2625vw;
    }
    .hidden-mobile {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .cards {
        width: 45.625vw;
        height: 50.6875vh;
    }
    .cards li {
        width: 45.625vw;
        height: 50.6875vh;
    }

    .cards li div {
        width: 45.625vw;
        height: 50.6875vh;
    }
    h1 {
        font-size: 26.625vw;
        line-height: 26vw;
    }
    .index {
        font-size: 13vw;
    }
    .cursor {
        display: none;
    }
}
